{% extends '::curr.html.twig' %}

{% block bodyHeader -%}

    {# <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb" style="margin-left:25px;">
            <li class="active">
                <i class="icon-home home-icon"></i>
                Home
            </li>
        </ul>
        <!-- .breadcrumb -->

    </div> #}

<div class="page-content">
    <div class="page-header">
        <h1>{% trans %}theme_list{% endtrans %}</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">

            {% endblock %}

            {% block body -%}

                <table class="records_list table table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}name{% endtrans %}</th>
                        <th>{% trans %}actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ attribute(entity, 'name' ~ locale) }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="{{ path('currtheme_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('currtheme_new') }}">
                            {% trans %}Create a new entry{% endtrans %}
                        </a>
                    </li>
                </ul>
            {% endblock %}

            {% block bodyFoot %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

    <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

{% endblock %}