<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

{% set route = app.request.attributes.get('_route') %}

{% set locale = '' %}
{% if app.request.locale != default_locale %}
    {% set locale = app.request.locale %}
{% endif %}

<!-- HEADER BEG -->
<head>
    <meta charset="utf-8"/>
    <title>VESS 2</title>

    <meta name="author" content="Niner Labs, LLC"/>
    <meta name="description" content="Palm Medical Network - CRM Dashboard"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- basic styles -->

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="{{ asset('bundles/vess/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/vess/css/font-awesome.min.css') }}"/>

    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ asset('bundles/vess/css/font-awesome-ie7.min.css') }}"/>
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <link rel="stylesheet" href="{{ asset('bundles/vess/css/ace-fonts.css') }}"/>

    <!-- ace styles -->

    <link rel="stylesheet" href="{{ asset('bundles/vess/css/ace.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/vess/css/ace-rtl.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/vess/css/ace-skins.min.css') }}"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ asset('bundles/vess/css/ace-ie.min.css') }}"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="{{ asset('bundles/vess/js/ace-extra.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/vess/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/vess/js/respond.min.js') }}"></script>
    <![endif]-->
</head>
<!-- HEADER END -->

<body class="navbar-fixed breadcrumbs-fixed">

<!-- TOPBAR BEG -->
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand" style="padding-left:4px;">
                <img src="{{ asset('bundles/vess/images/VESS-Logo-Dashboard.png') }}" class="img-responsive"/>
            </a><!-- /.brand -->
        </div>
        <!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo"
                             src="{{ asset('bundles/vess/avatars/santiago.png') }}"
                             alt="<?php $current_user; ?>'s Photo"/>
								<span class="user-info">
									<small>Welcome,</small>
                                    {% if app.user %}
                                        {{ app.user.fullname }}
                                    {% else %}
                                        Anonymous
                                    {% endif %}
								</span>

                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="{{ path('user_profile', { 'id': app.user.id }) }}">
                                <i class="icon-user"></i>
                                {% trans %}profile{% endtrans %}
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="{{ path('logout') }}">
                                <i class="icon-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.ace-nav -->
        </div>
        <!-- /.navbar-header -->
    </div>
    <!-- /.container -->
</div>
<!-- TOPBAR END -->

<div class="main-container" id="main-container">

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <!-- NAVIGATION BEG -->
        <div class="sidebar sidebar-fixed" id="sidebar">

            <ul class="nav nav-list">
                <li class="{{ 'homepage' in route ? 'active' : '' }}">
                    <a href="{{ path('vess_edu1st_homepage') }}">
                        <span style="display:inline-block; vertical-align:middle; min-width:25px; margin-right:2px; text-align:center; padding-bottom:5px;"><img
                                    src="{{ asset('bundles/vess/icons/Icons-Home.png') }}"></span>

                        <span class="menu-text"> Home </span>
                    </a>
                </li>

                <li class="{{ 'Curriculum' in route ? 'active' : '' }}">
                    <a href="Curriculum/">
                        <span style="display:inline-block; vertical-align:middle; min-width:25px; margin-right:2px; text-align:center; padding-bottom:5px;"><img
                                    src="{{ asset('bundles/vess/icons/Icons-Curriculum.png') }}"></span>
                        <span class="menu-text"> Curriculum </span>
                    </a>
                </li>

                <li class="{{ 'Planners' in route ? 'active' : '' }}">
                    <a href="Planners/">
                        <span style="display:inline-block; vertical-align:middle; min-width:25px; margin-right:2px; text-align:center; padding-bottom:5px;"><img
                                    src="{{ asset('bundles/vess/icons/Icons-Planners.png') }}"></span>
                        <span class="menu-text"> Planners </span>
                    </a>
                </li>

                <li class="{{ 'Resources' in route ? 'active' : '' }}">
                    <a href="Resources/">
                        <span style="display:inline-block; vertical-align:middle; min-width:25px; margin-right:2px; text-align:center; padding-bottom:5px;"><img
                                    src="{{ asset('bundles/vess/icons/Icons-Resources.png') }}"></span>
                        <span class="menu-text"> Resources </span>
                    </a>
                </li>

                <li class="{{ 'Products-and-Services' in route ? 'active' : '' }}">
                    <a href="Products-and-Services/">
                        <span style="display:inline-block; vertical-align:middle; min-width:25px; margin-right:2px; text-align:center; padding-bottom:5px;"><img
                                    src="{{ asset('bundles/vess/icons/Icons-Products.png') }}"></span>
                        <span class="menu-text"> Products & Services </span>
                    </a>
                </li>

                <li class="{{ 'Events' in route ? 'active' : '' }}">
                    <a href="Events/">
                        <span style="display:inline-block; vertical-align:middle; min-width:25px; margin-right:2px; text-align:center; padding-bottom:5px;"><img
                                    src="{{ asset('bundles/vess/icons/Icons-Events.png') }}"></span>
                        <span class="menu-text"> Events </span>
                    </a>
                </li>

                <li class="{{ 'School-Network' in route ? 'active' : '' }}">
                    <a href="School-Network/">
                        <span style="display:inline-block; vertical-align:middle; min-width:25px; margin-right:2px; text-align:center; padding-bottom:5px;"><img
                                    src="{{ asset('bundles/vess/icons/Icons-SchoolNetwork.png') }}"></span>
                        <span class="menu-text"> School Network </span>
                    </a>
                </li>

                <li class="{{ 'faqlist' in route ? 'active open' : '' }}">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-exclamation-sign" style="color:#d8a56f;"></i>
                        <span class="menu-text"> Support &amp; Coaching </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li class="{{ 'faqlist' in route ? 'active' : '' }}">
                            <a href="{{ path('faqlist') }}">
                                <i class="icon-double-angle-right"></i>
                                FAQ
                            </a>
                        </li>

                        <li class="">
                            <a href="/Support-and-Coaching/?md=2">
                                <i class="icon-double-angle-right"></i>
                                Tutorials
                            </a>
                        </li>

                        <li class="">
                            <a href="/Support-and-Coaching/?md=3">
                                <i class="icon-double-angle-right"></i>
                                Contact Support
                            </a>
                        </li>

                    </ul>

                </li>


                <!-- /.nav-list -->

                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
                       data-icon2="icon-double-angle-right"></i>
                </div>
                </li>
            </ul>

        </div>
        <!-- NAVIGATION END -->

        <div class="main-content">

            {% block bodyHeader %}{% endblock %}
            {% block body %}{% endblock %}
            {% block bodyFoot %}{% endblock %}

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="icon-double-angle-up icon-only bigger-110"></i>
            </a>

        </div>

        <!-- JAVASCRIPTS BEG -->
        <!-- basic scripts -->

        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write("<script src='{{ asset('bundles/vess/js/jquery-2.0.3.min.js') }}'>" + "<" + "/script>");
        </script>
        <!-- <![endif]-->

        <!--[if IE]>
        <script type="text/javascript">
            window.jQuery || document.write("<script src='{{ asset('bundles/vess/js/jquery-1.10.2.min.js') }}'>" + "<" + "/script>");
        </script>
        <![endif]-->

        <script type="text/javascript">
            if ("ontouchend" in document) document.write("<script src='{{ asset('bundles/vess/js/jquery.mobile.custom.min.js') }}'>" + "<" + "/script>");
        </script>
        <script src="{{ asset('bundles/vess/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/vess/js/typeahead-bs2.min.js') }}"></script>

        <!-- page specific plugin scripts -->

        <!-- ace scripts -->

        <script src="{{ asset('bundles/vess/js/ace-elements.min.js') }}"></script>
        <script src="{{ asset('bundles/vess/js/ace.min.js') }}"></script>

        <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'collapsed')
            } catch (e) {
            }
        </script>

        <!-- inline scripts related to this page -->

        {% block javascript %}
        {% endblock %}

        <!-- JAVASCRIPTS END -->

    </div>
</div>
</body>
</html>