{% extends '::curr.html.twig' %}

{% block bodyHeader -%}

    {# <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb" style="margin-left:25px;">
            <li class="active">
                <i class="icon-home home-icon"></i>
                Home
            </li>
        </ul>
        <!-- .breadcrumb -->

    </div> #}

<div class="page-content">
    <div class="page-header">
        <h1>{% trans %}currAreaItem_show{% endtrans %}</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">

            {% endblock %}

            {% block body -%}

                <table class="record_properties">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}name{% endtrans %}</th>
                        <td>{{ attribute(entity, 'name' ~ locale) }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('currareaitem') }}">
                            {% trans %}Back to the list{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('currareaitem_edit', { 'id': entity.id }) }}">
                            {% trans %}Edit{% endtrans %}
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            {% endblock %}

            {% block bodyFoot %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

    <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

{% endblock %}