{% extends '::base.html.twig' %}

{% block bodyHeader -%}

    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb" style="margin-left:25px;">
            <li class="active">
                <i class="icon-home home-icon"></i>
                Home
            </li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>{% trans %}change_passwd{% endtrans %} {{ app.user.fullname }}</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">

            {% endblock %}

            {% block body %}

                <form action="{{ path('user_updatepass', { 'id': app.user.id }) }}"
                      method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <p>
                        <button type="submit">{% trans %}submit{% endtrans %}</button>
                    </p>
                </form>
            {% endblock %}

            {% block bodyFoot %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

    <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

{% endblock %}