{% extends '::base.html.twig' %}

{% block bodyHeader -%}

    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb" style="margin-left:25px;">
            <li class="active">
                <i class="icon-home home-icon"></i>
                Home
            </li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>{% trans %}user_edit{% endtrans %}</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">

            {% endblock %}

            {% block body -%}

                {{ form(edit_form) }}

                {% if is_granted('ROLE_ADMIN') %}
                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('user') }}">
                                {% trans %}Back to the list{% endtrans %}
                            </a>
                        </li>
                            <li>{{ form(delete_form) }}</li>
                    </ul>
                {% endif %}
            {% endblock %}

            {% block bodyFoot %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

    <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

{% endblock %}