{% extends '::base.html.twig' %}

{% block bodyHeader -%}

    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb" style="margin-left:25px;">
            <li class="active">
                <i class="icon-home home-icon"></i>
                Home
            </li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>{% trans %}user_list{% endtrans %}</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">

            {% endblock %}

            {% block body -%}

                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>{% trans %}fullname{% endtrans %}</th>
                        <th>{% trans %}phone{% endtrans %}</th>
                        <th>{% trans %}email{% endtrans %}</th>
                        <th>{% trans %}lastupdate{% endtrans %}</th>
                        <th>{% trans %}rol{% endtrans %}</th>
                        <th>{% trans %}actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.fullname }}</td>
                            <td>{{ entity.phone }}</td>
                            <td>{{ entity.email }}</td>
                            <td>{{ entity.lastupdate }}</td>
                            <td>{{ entity.rol|trans }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('user_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('user_new') }}">
                            {% trans %}Create a new entry{% endtrans %}
                        </a>
                    </li>
                </ul>
            {% endblock %}

            {% block bodyFoot %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

    <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

{% endblock %}