{% extends '::base.html.twig' %}

{% block bodyHeader -%}

    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb" style="margin-left:25px;">
            <li class="active">
                <i class="icon-home home-icon"></i>
                Home
            </li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>{% trans %}user_profile{% endtrans %}</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">

            {% endblock %}

            {% block body -%}

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage|trans }}
                    </div>
                {% endfor %}

                <table class="record_properties">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}fullname{% endtrans %}</th>
                        <td>{{ entity.fullname }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}photo{% endtrans %}</th>
                        <td>{{ entity.photo }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}phone{% endtrans %}</th>
                        <td>{{ entity.phone }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}email{% endtrans %}</th>
                        <td>{{ entity.email }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}lastupdate{% endtrans %}</th>
                        <td>{{ entity.lastupdate }}</td>
                    </tr>
                    <tr>
                        <th>Rol</th>
                        <td>{{ entity.rol|trans }}</td>
                    </tr>
                    </tbody>
                </table>

                {% if is_granted('ROLE_ADMIN') or app.user == entity %}
                    <ul class="record_actions">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('user') }}">
                                {% trans %}Back to the list{% endtrans %}
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('user_edit', { 'id': entity.id }) }}">
                                {% trans %}edit{% endtrans %}
                            </a>
                        </li>
                        {#<li>{{ form(delete_form) }}</li>#}
                    </ul>
                {% endif %}
            {% endblock %}

            {% block bodyFoot %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

    <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

{% endblock %}