{% extends '::curr.html.twig' %}

{% block bodyHeader -%}

    {# <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb" style="margin-left:25px;">
            <li class="active">
                <i class="icon-home home-icon"></i>
                Home
            </li>
        </ul>
        <!-- .breadcrumb -->

    </div> #}
    <style type="text/css">
        kbd {
            display: inline-block;
            padding: 2px 4px;
            font-size: 90%;
            color: #fff;
            background-color: #305e91;
            border-radius: 3px;
            -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
            margin: 3px;
        }
    </style>

<div class="page-content">
    <div class="page-header">
        <h1>{% trans %}curriculum_map{% endtrans %}</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">

            {% endblock %}

            {% block body -%}

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans %}domains{% endtrans %}</th>
                        <th>{% trans %}themes{% endtrans %}</th>
                        <th>{% trans %}countries{% endtrans %}</th>
                        <th>{% trans %}artistic_focus{% endtrans %}</th>
                        <th>{% trans %}actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for domain in domains %}
                        {% if attribute(domain, 'name' ~ locale) %}
                            <tr class="danger">
                                <td><b>{{ attribute(domain, 'name' ~ locale) }}</b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                        {% for age in domain.ages %}
                            {% if attribute(age, 'name' ~ locale) %}
                                <tr class="success">
                                    <td><b>{{ attribute(age, 'name' ~ locale) }}</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            {% for relation in age.relations %}
                                {% if relation.currDomain == domain %}
                                    {% set discipline = relation.currDisciplineArea %}
                                    {% if attribute(discipline, 'name' ~ locale) %}
                                        <tr class="warning">
                                            <td><b>{{ attribute(discipline, 'name' ~ locale) }}</b></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <a href="{{ path('currdisciplinearea_edit', { 'id': discipline.id }) }}">{% trans %}
                                                    edit{% endtrans %}</a>
                                                {# <a href="{{ path('currdisciplinearea_delete', { 'id': discipline.id }) }}" onclick="return confirm('if you delete a Subdomain also will be deleted the Standards that belongs to him. Are you sure to delete this Subdomain?')">DELETE</a> #}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% for re in discipline.relations %}
                                        {% if re.currDomain == domain and re.currAgeGroup == age %}
                                            {% set item = re.currAreaItem %}
                                            {% if attribute(item, 'name' ~ locale) %}
                                                {% set key = re.currDomain.id ~ re.currAgeGroup.id ~ re.currDisciplineArea.id %}
                                                <tr>
                                                    <td width="20%">{{ attribute(item, 'name' ~ locale) }}</td>
                                                    <td>
                                                        {% for theme in item.currthemes[key] %}
                                                            {% if attribute(theme, 'name' ~ locale) %}
                                                                <kbd>{{ attribute(theme, 'name' ~ locale) }}</kbd>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for country in item.currcountries[key] %}
                                                            {% if attribute(country, 'name' ~ locale) %}
                                                                <kbd>{{ attribute(country, 'name' ~ locale) }}</kbd>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for artisticfocus in item.currartisticfocus[key] %}
                                                            {% if attribute(artisticfocus, 'name' ~ locale) %}
                                                                <kbd>{{ attribute(artisticfocus, 'name' ~ locale) }}</kbd>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('currareaitem_edit', { 'id': re.id }) }}">{% trans %}
                                                            edit{% endtrans %}</a>
                                                        {# <a href="{{ path('currareaitem_delete', { 'id': item.id }) }}" onclick="return confirm('Are you sure to Delete?')">DELETE</a> #}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>

            {% endblock %}

            {% block bodyFoot %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

    <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

{% endblock %}