<style>
    .table-header-rotated {
        border-collapse: collapse;
    }

    .table-header-rotated td {
        width: 10px;
    }

    .table-header-rotated th {
        padding: 5px 10px;
    }

    .table-header-rotated td {
        text-align: center;
        padding: 10px 5px;
        border: 1px solid #ccc;
    }

    .table-header-rotated th.rotate {
        height: 140px;
        white-space: nowrap;
    }

    .table-header-rotated th.rotate > div {
        -webkit-transform: translate(-2px, 70px) rotate(-90deg);
        width: 5px;
    }

    .table-header-rotated th.rotate > div > span {
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
    }

    .table-header-rotated th.row-header {
        padding: 0 10px;
        border-bottom: 1px solid #ccc;
    }

    .tags-groups-headers {
        padding-bottom: 70px !important;
    }

</style>

{% set numColumns = themes|length + countries|length + afs|length + 2 %}

<body>
<table class="table table-header-rotated" style="margin-top:60px;">
    <thead>
    <tr>
        <th colspan="1" class="tags-groups-headers">Domains</th>
        <th colspan="{{ themes|length }}" class="tags-groups-headers">Themes</th>
        <th class="tags-groups-headers"></th>
        <th colspan="{{ countries|length }}" class="tags-groups-headers">Countries</th>
        <th class="tags-groups-headers"></th>
        <th colspan="{{ afs|length }}" class="tags-groups-headers">Artistic Focus</th>
    </tr>
    <tr>
        <th></th>
        {% for theme in themes %}
            <th class="rotate">
                <div><span>{{ theme.name }}</span></div>
            </th>
        {% endfor %}
        <th></th>
        {% for country in countries %}
            <th class="rotate">
                <div><span>{{ country.name }}</span></div>
            </th>
        {% endfor %}
        <th></th>
        {% for af in afs %}
            <th class="rotate">
                <div><span>{{ af.name }}</span></div>
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for domain in domains %}
        <tr class="danger">
            <th class="row-header"><b>Domain: {{ domain.name }}</b></th>
            {% for i in 1..numColumns %}
                <td></td>
            {% endfor %}
        </tr>
        {% for age in domain.ages %}
            <tr class="success">
                <th class="row-header"><b>Age: {{ age.name }}</b></th>
                {% for i in 1..numColumns %}
                    <td></td>
                {% endfor %}
            </tr>
            {% for relation in age.relations %}
                {% if relation.currDomain == domain %}
                    {% set discipline = relation.currDisciplineArea %}
                    <tr class="warning">
                        <th class="row-header"><b>{{ discipline.name }}</b></th>
                        {% for i in 1..numColumns %}
                            <td></td>
                        {% endfor %}
                    </tr>
                    {% for re in discipline.relations %}
                        {% if re.currDomain == domain and re.currAgeGroup == age %}
                            {% set item = re.currAreaItem %}
                            {% set key = re.currDomain.id ~ re.currAgeGroup.id ~ re.currDisciplineArea.id %}
                            <tr>
                                <th class="row-header">{{ item.name }}</th>
                                {% for theme in themes %}
                                    {% for th in item.currthemes[key] if th.name == theme.name %}
                                                <td>X</td>
                                            {% else %}
                                                <td></td>
                                    {% endfor %}
                                {% endfor %}
                                <td></td>
                                {% for country in countries %}
                                    {% for c in item.currcountries[key] if c.name == country.name %}
                                                <td>X</td>
                                            {% else %}
                                                <td></td>
                                    {% endfor %}
                                {% endfor %}
                                <td></td>
                                {% for af in afs %}
                                    {% for a in item.currartisticfocus[key] if a.name == af.name %}
                                                <td>X</td>
                                            {% else %}
                                                <td></td>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
</body>
