{% extends '::curr.html.twig' %}

{% block bodyHeader -%}

    {# <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb" style="margin-left:25px;">
            <li class="active">
                <i class="icon-home home-icon"></i>
                Home
            </li>
        </ul>
        <!-- .breadcrumb -->

    </div> #}

<div class="page-content">
    <div class="page-header">
        <h1>Curr Age Group Show</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">

            {% endblock %}

{% block body -%}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('curragegroup') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('curragegroup_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block bodyFoot %}
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>

    <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

{% endblock %}