{% extends '::base.html.twig' %}

{% block bodyHeader -%}

    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon" style="color:#979b9e;"></i>
                <a href="/">Home</a>
            </li>
            <li>Support &amp; Coaching&nbsp;&nbsp;</li>
            <li class="active">FAQ</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>FAQ</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">

            {% endblock %}

            {% block body -%}

                <div class="tabbable">
                    <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
                        {% for category in entities %}
                            {{ loop.first ? '<li class="active">' : '<li>' }}
                            <a data-toggle="tab" href="#faq-tab-{{ category.id }}">
                                <i class="{{ category.catIcon }} bigger-120" style="color:#0f6d59;"></i>
                                {{ attribute(category, 'name' ~ locale) }}
                            </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content no-border padding-24">
                        {% for category in entities %}
                            <div id="faq-tab-{{ category.id }}"
                                 class="tab-pane fade in {{ loop.first ? 'active' : '' }}">
                                <h4 style="color:#0f6d59;">
                                    <i class="icon-question-sign bigger-110" style="color:#0f6d59;"></i>
                                    {{ attribute(category, 'name' ~ locale) }} {% trans %}questions{% endtrans %}
                                </h4>
                                {% for faq in category.faqList %}
                                    <div class="space-8"></div>

                                    <div id="faq-list-{{ faq.id }}"
                                         class="panel-group accordion-style1 accordion-style2">

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#faq-{{ category.id }}-{{ faq.id }}"
                                                   data-parent="#faq-list-{{ faq.id }}" data-toggle="collapse"
                                                   class="accordion-toggle collapsed">
                                                    <i class="icon-chevron-right smaller-80"
                                                       data-icon-hide="icon-chevron-down align-top"
                                                       data-icon-show="icon-chevron-right"></i>
                                                    &nbsp;
                                                    &nbsp; {{ attribute(faq, 'question' ~ locale) }}
                                                </a>
                                            </div>

                                            <div class="panel-collapse collapse"
                                                 id="faq-{{ category.id }}-{{ faq.id }}">
                                                <div class="panel-body">
                                                    {{ attribute(faq, 'answer' ~ locale) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% endblock %}

            {% block bodyFoot %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

    <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

{% endblock %}

{% block javascript %}

    <!--[if lte IE 8]>
    <script src="{{ asset('bundles/vess/js/excanvas.min.js') }}"></script>
    <![endif]-->

    <script src="{{ asset('bundles/vess/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script src="{{ asset('bundles/vess/js/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('bundles/vess/js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/vess/js/jquery.easy-pie-chart.min.js') }}"></script>
    <script src="{{ asset('bundles/vess/js/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('bundles/vess/js/flot/jquery.flot.min.js') }}"></script>
    <script src="{{ asset('bundles/vess/js/flot/jquery.flot.pie.min.js') }}"></script>
    <script src="{{ asset('bundles/vess/js/flot/jquery.flot.resize.min.js') }}"></script>

    <!-- inline scripts related to this page -->

    <script type="text/javascript">
        jQuery(function ($) {
            $('.easy-pie-chart.percentage').each(function () {
                var $box = $(this).closest('.infobox');
                var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
                var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
                var size = parseInt($(this).data('size')) || 50;
                $(this).easyPieChart({
                    barColor: barColor,
                    trackColor: trackColor,
                    scaleColor: false,
                    lineCap: 'butt',
                    lineWidth: parseInt(size / 10),
                    animate: /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()) ? false : 1000,
                    size: size
                });
            })

            $('.sparkline').each(function () {
                var $box = $(this).closest('.infobox');
                var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
                $(this).sparkline('html', {tagValuesAttribute: 'data-values', type: 'bar', barColor: barColor, chartRangeMin: $(this).data('min') || 0});
            });

            var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
            var previousPoint = null;

            placeholder.on('plothover', function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.seriesIndex) {
                        previousPoint = item.seriesIndex;
                        var tip = item.series['label'] + " : " + item.series['percent'] + '%';
                        $tooltip.show().children(0).text(tip);
                    }
                    $tooltip.css({top: pos.pageY + 10, left: pos.pageX + 10});
                } else {
                    $tooltip.hide();
                    previousPoint = null;
                }

            });


            var d1 = [];
            for (var i = 0; i < Math.PI * 2; i += 0.5) {
                d1.push([i, Math.sin(i)]);
            }

            var d2 = [];
            for (var i = 0; i < Math.PI * 2; i += 0.5) {
                d2.push([i, Math.cos(i)]);
            }

            var d3 = [];
            for (var i = 0; i < Math.PI * 2; i += 0.2) {
                d3.push([i, Math.tan(i)]);
            }


            var sales_charts = $('#sales-charts').css({'width': '100%', 'height': '220px'});
            $.plot("#sales-charts", [
                { label: "Domains", data: d1 },
                { label: "Hosting", data: d2 },
                { label: "Services", data: d3 }
            ], {
                hoverable: true,
                shadowSize: 0,
                series: {
                    lines: { show: true },
                    points: { show: true }
                },
                xaxis: {
                    tickLength: 0
                },
                yaxis: {
                    ticks: 10,
                    min: -2,
                    max: 2,
                    tickDecimals: 3
                },
                grid: {
                    backgroundColor: { colors: [ "#fff", "#fff" ] },
                    borderWidth: 1,
                    borderColor: '#555'
                }
            });


            $('#recent-box [data-rel="tooltip"]').tooltip({placement: tooltip_placement});
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('.tab-content')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }


            $('.dialogs,.comments').slimScroll({
                height: '300px'
            });


            //Android's default browser somehow is confused when tapping on label which will lead to dragging the task
            //so disable dragging when clicking on label
            var agent = navigator.userAgent.toLowerCase();
            if ("ontouchstart" in document && /applewebkit/.test(agent) && /android/.test(agent))
                $('#tasks').on('touchstart', function (e) {
                    var li = $(e.target).closest('#tasks li');
                    if (li.length == 0)return;
                    var label = li.find('label.inline').get(0);
                    if (label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation();
                });

            $('#tasks').sortable({
                        opacity: 0.8,
                        revert: true,
                        forceHelperSize: true,
                        placeholder: 'draggable-placeholder',
                        forcePlaceholderSize: true,
                        tolerance: 'pointer',
                        stop: function (event, ui) {//just for Chrome!!!! so that dropdowns on items don't appear below other items after being moved
                            $(ui.item).css('z-index', 'auto');
                        }
                    }
            );
            $('#tasks').disableSelection();
            $('#tasks input:checkbox').removeAttr('checked').on('click', function () {
                if (this.checked) $(this).closest('li').addClass('selected');
                else $(this).closest('li').removeClass('selected');
            });


        })
    </script>


{% endblock %}