<h1>Login</h1>

{% if error %}
    <div class="alert alert-error" id="error">
        <a class="close" onClick="$('.alert-error').hide()">×</a>
        <strong>Error:</strong>
        {{ error.message|trans }}
    </div>
{% endif %}

<form action="{{ path('login_check') }}" name="form" method="post">
    <table id="form_login">
        <tr>
            <td>
                <label for="username">Email:</label>
                <input type="email" name="_username" id="username" value="{{ last_username }}" required=""/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password:</label>
                <input type="password" name="_password" id="password" required=""/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="login" value="Login"/>
            </td>
        </tr>
    </table>
</form>

<h1>Retrieve Password</h1>

<form id="forgotForm" action="{{ path('passforgot') }}" method="post">
    <table id="form_login">
        <tr>
            <td>
                <label for="username">Enter your email and to receive instructions:</label>
                <input type="email" name="email" id="email" value="" required=""/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="send" value="Send"/>
            </td>
        </tr>
    </table>
</form>
